@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap');

* {
    font-family: "Josefin Sans";
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

main {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 100vh;
}

#section-1 {
    height: 100vh;
    width: 70vw;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 100px 0 150px 200px;
}

#bg-img {
    position: absolute;
    z-index: -1;
    height: 100vh;
    width: 70vw;
}

#img-1 {
    width: 150px;
}

h1 {
    font-size: 80px;
    font-weight: 400;
    letter-spacing: 15px; /* ტექსტის სიმბოლოებს შორის დაშორება */
    line-height: 100px; /* ტექსტის ხაზებს შორის დაშორება */
    max-width: 40%;
    text-transform: uppercase;
}
span {
    font-weight: 200;
    color: hsl(0, 36%, 70%);
}

p {
    padding: 20px 0 40px 0;
    max-width: 55%;
    font-size: 18px;
    line-height: 30px;
    color: hsl(0, 36%, 70%);
}

input {
    width: 90%;
    height: 60px;
    color: hsl(0, 36%, 70%);
    padding: 20px 0 20px 20px;
    border-radius: 50px;
    border-width: 2px;
    border-color: hsl(0, 36%, 70%);
}

input::placeholder {
    color: hsl(0, 36%, 70%);
}

label {
    color: hsl(0, 93%, 68%);
    font-size: 12px;
    padding-left: 20px;
    display: none;
}

form {
    max-width: 55%;
    position: relative;
}

button {
    height: 60px;
    width: 100px;
    border-radius: 50px;
    background: hsl(359, 75%, 78%);
    border: none;
    position: absolute;
    right: 20px;
    cursor: pointer;
    -webkit-box-shadow:0px 0px 300px 19px rgba(247,184,184,0.21);
    -moz-box-shadow: 0px 0px 300px 19px rgba(247,184,184,0.21);
    box-shadow: 0px 0px 300px 19px rgba(247,184,184,0.21);
}

button:hover {
    background: hsl(358, 61%, 81%);
    transition: 0.25s;
}

#section-2 {
    height: 100vh;
    overflow: hidden;
}

#img-2 {
    height: 100%;
}

@media (max-width: 1440px) {
    main {
        flex-direction: column-reverse;
        height: 100vh;
    }

    #section-1 {
        height: 60vh;
        width: 100%;
        padding: 40px 24px;
        text-align: center;
    }

    #section-2 {
        height: 40vh;
        width: 100%;
        overflow: hidden;
    }

    #img-2 {
        height: 100%;
        width: 100%;
    }

    #img-1 {
        width: 120px;
        margin-bottom: 20px;
    }

    h1 {
        font-size: 36px;
        line-height: 48px;
        letter-spacing: 8px;
        text-transform: uppercase;
        font-weight: 400;
    }

    h1 span {
        color: hsl(0, 36%, 70%);
        font-weight: 200;
    }

    p {
        font-size: 16px;
        line-height: 24px;
        color: hsl(0, 36%, 70%);
        padding: 20px 0 30px 0;
    }

    form {
        position: relative;
        max-width: 100%;
    }

    input {
        width: 270px;
        height: 50px;
        padding-left: 20px;
        border-radius: 50px;
        border: 1px solid hsl(0, 36%, 70%);
        font-size: 14px;
        color: hsl(0, 36%, 70%);
    }

    input::placeholder {
        color: hsl(0, 36%, 70%);
    }

    button {
        position: absolute;
        top: 0;
        right: 0;
        height: 50px;
        width: 80px;
        border: none;
        border-radius: 50px;
        background-color: hsl(359, 75%, 78%);
        cursor: pointer;
    }

    label {
        display: none;
        color: hsl(0, 93%, 68%);
        font-size: 12px;
        margin-top: 8px;
        text-align: left;
        padding-left: 20px;
    }

    #bg-img {
        display: none;
    }
}