* {
    margin: 0;
    padding: 0;
}

body {
    background-color: hsl(217, 54%, 11%);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

#card {
    background-color: hsl(216, 50%, 16%);
    border-radius: 16px;
    width: 300px;
    box-shadow: 0 10px 25px black;
}

#card-image {
    border-radius: 16px;
    width: 250px;
    display: block;
    position: relative;
    margin: 20px 20px;
}

#card-content {
    padding: 20px;
    color: hsl(0, 0%, 100%);
}

#title {
    font-size: 20px;
    margin-bottom: 10px;
    color: hsl(0, 0%, 100%);
}

#description {
    font-size: 14px;
    color: hsl(215, 51%, 70%);
    margin-bottom: 20px;
}

#card-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

#card-info img {
    width: 15px;
    margin-right: 5px;
    vertical-align: middle;
}

#price,
#time-left {
    display: flex;
    align-items: center;
    font-size: 13px;
}

#price span {
    color: hsl(178, 100%, 50%);
}

#time-left span {
    color: hsl(215, 51%, 70%);
}

#creator {
        display: flex;
    align-items: center;
    border-top: 1px solid hsl(215, 32%, 27%);
    padding-top: 15px;
}

#avatar {
    width: 30px;
    border-radius: 50%;
    margin-right: 10px;
}

#creator-name {
    color: hsl(0, 0%, 100%);
}
