table {
    border-collapse: collapse;
    background-color: white;
}

th, td {
    border: 1px solid #000000;
    text-align: center;
}

th {
    background-color: #1E73BE;
    color: white;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}