/* საკლასო დავალება:

შექმენით ელემენტი, რომლის სიგანე და სიმაღლე იქნება 300-300 პიქსელი, იქნება წრიული ფორმის და ფონის ფერი გაუწერეთ მწვანე.

როდესაც ამ ელემენტზე მოხდება hover მოვლენა, transform უნდა დაიწყოს 5 წამის შეფერხებით. 5 წუთის გასვლის შემდეგ, ელემენტი გაიზარდოს ზომაში 3-ჯერ და ის 100 პიქსელით ზემოთ აიტანეთ. ეს პატარა ანიმაცია გაგრძელდეს 3 წამი */

#d1 {
    width: 300px;
    height: 300px;
    background-color: green;
    border-radius: 50%;
    transition: 3s;
    transition-delay: 5s;
}

#d1:hover {
    transform: scale(3) translateY(-100px);
}