#p-1 {
    color: #ff0000;
    background-color: #00ff9d;
}

#p-2 {
    color: #000000;
    background-color: #a2ff00;
}

#p-3 {
    color: #27df3981;
    background-color: #464744;
}

#p-4 {
    color: #813b812b;
    background-color: #af924f6a;
}

#p-5 {
    color: #4321a1;
    background-color: #6161619a;
}

#p-6 {
    color: #000000;
    background-color: #646464;
}

#p-7 {
    color: #d28383;
    background-color: #000000;
}

#p-8 {
    color: #969696;
    background-color: #777777;
}

#p-9 {
    color: #654304;
    background-color: #ccdf1e;
}

#p-10 {
    color: #3b4041;
    background-color: #00ff9d;
}