p {
    color: rgb(156, 156, 156);
}

h1 {
    color: rgba(0, 229, 255, 0.816);
}

h2 {
    color: rgb(255, 255, 255);
}

ul {
    color: rgb(255, 255, 255);
}

body {
    background-color: rgb(48, 48, 48);
}