@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Young+Serif&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Poppins";
    background-color: hsl(0, 0%, 100%);
    font-size: 15px;
    color: hsl(234, 12%, 34%);
    display: flex;
    justify-content: center;
    padding: 20px;
}

main {
    max-width: 1100px;
    width: 100%;
}

header {
    text-align: center;
    margin-bottom: 50px;
}

header h1 {
    font-weight: 200;
    line-height: 1.4;
}

header h1 span {
    font-weight: 600;
    color: hsl(234, 12%, 34%);
}

header p {
    color: hsl(212, 6%, 44%);
    max-width: 600px;
    margin: 15px auto 0;
}

.cards {
    display: grid;
    gap: 30px;
}

.card {
    background-color: hsl(0, 0%, 100%);
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 15px rgba(0,0,0,0.1);
    border-top: 4px solid transparent;
}

.card img {
    margin-top: 20px;
    display: block;
    margin-left: auto;
}

#supervisor {
    border-color: hsl(180, 62%, 55%); 
}

#team-builder {
    border-color: hsl(0, 78%, 62%); 
}

#karma {
    border-color: hsl(34, 97%, 64%);
}

#calculator {
    border-color: hsl(212, 86%, 64%);
}

@media (min-width: 768px) {
    .cards {
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(2, auto);
        grid-template-areas:
            "supervisor team calculator"
            ". karma .";
    }

    #supervisor {
        grid-area: supervisor;
        align-self: center;
    }
    
    #team-builder {
        grid-area: team;
    }
    
    #karma {
        grid-area: karma;
        align-self: center;
    }
    
    #calculator {
        grid-area: calculator;
        align-self: center;
    }
}
